:root {
    --shadow: 8px 10px 10px hwb(0 57% 43%);
    --color-first: hwb(210 95% 12%);
}

nav {
    background-color: var(--color-first);
}

.nav-item--mod {
    width: 20%;
}

.img-nav {
    width: 12rem;
}

@media only screen and (max-width: 425px) {
    .img-nav {
        width: 10rem;
    }
}

@media only screen and (max-width: 320px) {
    .img-nav {
        width: 8rem;
    }
}

.title-pag {
    font-size: 3rem;
    color: #fff;
    height: 13rem;
}

.background-title-pag-home {
    background:  url(../assets/img/optional_banner_3.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.background-title-pag-pastEvents {
    background:  url(../assets/img/optional_banner_4.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
}

.background-title-pag-upCoEvents {
    background:  url(../assets/img/optional_banner_2.jpg) no-repeat;
    background-size: cover;
    background-position: top;
}

.background-title-pag-contact {
    background:  url(../assets/img/optional_banner_5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.background-title-pag-stats {
    background:  url(../assets/img/optional_banner_1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.input-group-text--mod {
    padding: 0;
    width: 4%;
}

.btn-submit {
    background-color: hwb(332 1% 15%) !important;
    color: #fff !important;
}

.btn-submit:active {
    border: solid 1px  hwb(332 1% 15%) !important;
    color:  hwb(332 1% 15%) !important;
    background-color: #fff !important;
}

.form-control--mod {
    width: 12rem !important;
}

.form-control--mod, .form-control-contact, textarea {
    flex: 0 0 auto !important;
    box-shadow: none !important;
}

.form-control--mod:focus, .form-control-contact:focus, textarea:focus {
    border: solid 1px  hwb(332 1% 15%) !important;
}

.container-cards {
    min-height: 58vh;
}

.card--mod {
    width: 18rem;
    min-height: 22rem;
    box-shadow: var(--shadow);
}

.img-card {
    padding: 0.75rem !important;
    object-fit: cover;
    height: 11rem;
}

.card-body--mod {
    padding-top: 0 !important;
    display: flex;
    flex-direction: column;
}

.card-body--mod p{
    flex-grow: 1;
}

.footer {
    background-color: var(--color-first);
    min-height: 5rem;
}

.footer a img {
    width: 2rem;
}

textarea {
    resize: none !important;
}

.container-form {
    margin-top: 4rem;
    background-color: hwb(210 97% 2%);
    width: 35rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 768px) {
    .container-form {
        width: 75%;
    }
}

@media only screen and (max-width: 400px) {
    .container-form {
        width: 90%;
    }
}

.card-container {
    width: 50rem;
    height: 25.5rem;
    background-color: hwb(210 97% 2%);
    padding: 2rem 1rem;
    box-shadow: var(--shadow);
    border-radius: 0.375rem;
}

.article-details {
    width: 100%;
    height: 100% !important;
}

.article-details img {
    width: 40%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 850px) {
    .card-container {
        width: 45rem;
        height: 25.5rem;
        background-color: hwb(210 97% 2%);
        padding: 2rem 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .card-container {
        width: 90%;
        height: auto;
    }

    .article-details img {
        width: 100%;
    }
}